<section class="block container block-domain">
    <header class="block__header">
        <h2>Starting at $9 dollars per month</h2>
            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Dignissimos molestiae ea eos dolor sequi accusamus soluta
            enim ratione dicta repudiandae.
            </p>
    </header>

    <div class="input-group">
        <button class="btn btn--accent">
            <svg class="icon icon--white">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            Search
        </button>
        <input type="text" class="input" placeholder="Enter domain name here..."/>
    </div>
    <ul class="list block-domain__prices">
        <li>.com $9</li>
        <li><span class="badge badge--secondary">.sg $10</span></li>
        <li>.space $12</li>
        <li>.info $14</li>
        <li>.net $15</li>
        <li>.xyz $13</li>
    </ul>
</section>